server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:academico
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics, info
  metrics:
    tags:
      application: sistema-academico
